@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  outline: none;
}
.wrapper{
  background-color: #fff;
  box-shadow: 3px 3px 5px rgb(0,0,0,0.1);
  position: fixed;
  width: 100%;
  z-index: 999;  

}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.links{
  position: absolute;
  right: 10px;
}
.content .links li{
  list-style: none;
  line-height: 70px;

}
.content .links li a,
.content .links li label{
  color: #333;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  transition: all 0.3s ease;
  border-right: 1px solid #00000071;
}

.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #fff;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #333;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}
.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #333;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #333;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #fff;
  border: none;
  outline: none;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}
/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #fff;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
 backdrop-filter: blur(8px);
  box-shadow: 3px 3px 5px rgb(0,0,0,0.1);
  border-radius: 0 0 10px 10px;


}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}
/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}
@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #fff;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }
  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}
@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}
.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}

.content img{
  height: 65px;
  position: relative;
  top: 5px;
}


.content .logoahia{
  height: 55px;
  position: relative;
  left: -10px;
}

.secone{
  height: 100vh;
  background-color: wheat;
  display: flex;
  overflow: hidden;
}

.left{
  position: relative;
  top: 210px;
  left: 50px;
  margin-bottom: 250px;
}

.heading{
  color: #171c24;
  line-height: 1;
  font-size: 2.5rem;
}

.heading p{
  font-size: 17px;
}

.heading .subs{
  font-size: 15px;
}

.collageimg{
  height: 27rem;

}

.huda{
  box-shadow: 3px 3px 5px rgb(0,0,0,0.1);
  position: absolute;
  height: 10rem;
  border-radius: 20px;
  top: 100px;
  right: 120px;
}
.ahia{
  position: absolute;
  height: 5rem;
  border-radius: 10px;
  top: 350px;
  right: 200px;
}

.imgco{
  height: 25rem;
  width: 25rem;
  background-color: #fff;
  box-shadow: 3px 3px 5px rgb(0,0,0,0.1);
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  top: 170px;
  right: 150px;
}
.icono{
  height: 3rem;
}

.icoons{
  position: relative;
  gap: 40px;
}

.icoons i{
    border: 2px solid #000;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    transition: 0.6s ease;
    color: #000;
}


.right{
animation: mymove 5s alternate;
}

@keyframes mymove {
  from {opacity: 0;}
  to {opacity: 1;}
}

.don{
  background-color: rgb(19, 35, 90); 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 4px 14px;
  transition: 0.6s ease;
}

.don:hover{
     background-color: rgba(19, 36, 90, 0.692); 

}